* {
	box-sizing: border-box;
}

body {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: whitesmoke;
	text-shadow: 2px 2px 2px black;
}

#time {
	font-size: 5rem;
}

.titlesBox {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#nameCoin {
	font-size: 2em;
}

h2 {
	padding: 0;
	margin: 0;
}

img {
	padding: 0;
	margin: 0;
}

#timeTitle {
	font-size: 8em;
	margin-bottom: 2em;
}

#city {
	font-size: 2rem;
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 25px;
}

#temp {
	font-size: 3rem;
	position: relative;
	top: 20px;
}
